# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
/mpdf2s

# VS Code settings
.vscode/

# Distribution / packaging

dist/
*.egg-info/

# Environment variables
.env

.DS_Store

/audiveris/.gradle/
